[Unit]
Description=Google Compute Engine Graceful Shutdown Scripts
Wants=network-online.target rsyslog.service
After=network-online.target rsyslog.service google-guest-agent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/google_metadata_script_runner_adapt graceful-shutdown
KillMode=process
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
